{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <h2>Добавление статьи</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group">
            <input
            class="form-control"
            type="text"
            name="tags"
            placeholder="Укажите теги через запятую"
            >            
        </div>
        <button class="btn btn-lg btn-info">Сохранить</button>
    </form>

{% endblock %}