{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    {% include 'includes/succes.html' %}
    <h2>{{ article.title }}</h2>
    {% for tag in article.tag.all %}
        <button>{{ tag.name }}</button>
    {% endfor %}
    {% if article.picture %}
        <img width="80%" src="{{article.picrture.url}} ">
        <br>
        {% endif %}
    <div>{{ article.text }}</div>
    <i>Автор: {{ article.author }}</i>
    <h3>Понравилось: {{ article.likes }}</h3>
    <h4>Прочитало: {{ article.readers.count }}</h4>
    <h4>Просмотров: {{ article.views }}</h4>
    <h4>Дата публикации: {{ article.publications_date}}</h4>
    <h4>Посленднее изменение : {{ article.update_date }}</h4>
    <ul>
    {% for reader in article.readers.all %}
        <li>{{ reader }}</li>
    {% endfor %}
    </ul>
    <hr>
    <a
        href="{% url 'edit-article' article.id %}"
        class="btn btn-lg btn-warning"
    >
        Редактировать
    </a>
    <br>
    <br>
    <form method="POST">
        {% csrf_token %}
        <button name="delete_btn" class="btn btn-lg btn-danger">Удалить</button>  
    </form>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button name="comment_btn" class="btn btn-primary">Сохранить</button>
    </form>
    <h2>Комментарии:</h2>
    {% for comment in article.comments.all %}
        <h3>{{ comment.text }}</h3>
        <i>{{ comment.user.username }}</i>
        <p>
            <a href="{% url 'edit-comment' comment.id %}">Редактировать</a> | 
            <a href="{% url 'delete-comment' comment.id %}">Удалить</a>
        </p>
        
        <hr>
    {% endfor %}
{% endblock %}